# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp

# Configuración local
.env
application-local.properties